* {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(115, 255, 220);
  height: 100vh;
}

a {
  color: rgb(26, 26, 26);
  text-decoration: none;
}

.main {
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid rgb(200, 139, 228);
  border-radius: 10px;
  font-size: 40px;
  background: rgb(137, 222, 241);
}

input[type="text"] {
  border: 2px solid #571d42;
  border-radius: 10px;
  padding: 8px;
  font-size: 24px;
  background: #ffafe2;
  margin-bottom: 10px;
}

#email {
  border: 2px solid #bc077a;
  background: #ff77cd;
}

#email:disabled {
  opacity: 0.5;
    cursor: not-allowed;
}

input:disabled{
  opacity: 0.5;
    cursor: not-allowed;
}

input[type="password"] {
  border: 2px solid #571d42;
  border-radius: 10px;
  padding: 8px;
  font-size: 24px;
  margin-bottom: 10px;
  background: #ffbaaf;
}

input[type="submit"] {
  border: 2px solid #571d42;
  border-radius: 10px;
  padding: 8px;
  font-size: 24px;
  background: #e0afff;
  margin-bottom: 10px;
}

.profileBtn {
  padding: 10px;
  background: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.visible {
  display: block;
}
.hidden {
  display: none;
}

form{
  display: flex;
  flex-direction: column;
}

p, h1{
  margin-bottom: 10px;
}

#place{
  display: flex;
}

#token{
  width: 80px;
  margin-right: 10px;
}